html
{
    scroll-behavior: smooth;
}
html, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style of the navbar on the about and projects pages*/
nav.navbar
{
    position: sticky;
    background: linear-gradient(90deg, black, darkgreen);
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
    z-index: 20;
}
a.navbarHeader
{
    font-family: "Times New Roman", serif;
    font-size: 3vw;
    color: green;
    margin-left: 1.63vw;
    margin-right: 1.63vw;
    text-decoration: none;
    display: flex;
}

#ChannelLogo
{
    width: 7.16vw;
    height: 15.07vh;
    border-radius: 60%;
    filter: brightness(300%);
}
#ChannelLogo:hover
{
    transform: scale(1.1);
    filter: brightness(500%);
    transition: 1s;
}
#ChannelName
{
    margin-left: 2.28vw;
    padding-top: 4.79vh;
}
#ChannelName:hover
{
    transform: scale(1.1);
    transition: 1s;
}
button.navbarButton
{
    font-family: "Times New Roman", serif;
    font-size: 1.5625rem;
    background-color: darkgray;
    color: green;
    margin-left: 0.33vw;
    margin-bottom: -1.37vh;
    padding: 1.37vh 0.52vw;
}
button.navbarButton:hover
{
    background-color: grey;
    color: #004009;
    transition-duration: 0.2s;
}
.navbarButtons
{
    gap: 1.63vw;
    margin-right: 1.63vw;
}
.dropdown
{
    position: relative;
    justify-self: right;
    display: inline-block;
}

/*styling for the footer (same footer for every page)*/
footer.footer
{
    position: static;
    background: linear-gradient(90deg, darkgreen, black);
    width: 100%;
    height: 17.12vh;
    align-items: center;
    display: flex;
    outline: none;
    justify-items: center;
}
a.footerHomeLink
{
    margin-left: 3.26vw;
    text-decoration-line: underline;
    color: white;
}
a.footerHomeLink:link
{
    text-decoration-line: underline;
    color: white;
}
a.footerHomeLink:visited
{
    text-decoration-line: none;
    color: white;
}
img.footerImage
{
    width: 4.88vw;
    height: 10.27vh;
    margin-left: 3.26vw;
    text-decoration-line: none;
}
#footerCopyright
{
    color: white;
    margin-left: 3.26vw;
}

/*styling for the about page*/
.AboutMain
{
    margin: -7.53vh 0 0 0;
    background-color: #fefefe;
    background-image: url('Images/backgroundTexture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.PageHeader
{
    justify-self: center;
    color: black;
    font-weight: bold;
    font-size: 5vw;
    font-family: Calibri, sans-serif;
}
.Segments
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.SegmentHeader
{
    justify-self: center;
    color: black;
    font-weight: bold;
    font-size: 3.3vw;
    margin-left: 4vw;
    margin-right: 4vw;
    font-family: Calibri, sans-serif;
    margin-bottom: -2rem;
    text-align: center;
}
#Profession,#ResumeLink
{
    margin-bottom: 0;
}
.SegmentInformation
{
    justify-self: center;
    text-align: center;
    margin-left: 6vw;
    margin-right: 4vw;
    color: black;
    font-weight: normal;
    font-size: 1.5vw;
    font-family: Calibri, sans-serif;
    text-indent: -5vw;
}
li
{
    justify-self: center;
    text-align: center;
}
ol.SegmentInformation
{
    padding-left: 7vw;
    margin-left: 4vw;
    margin-right: 4vw;
    list-style: square;
    justify-self: center;
    justify-items: center;
    text-indent: -5vw;
    text-align: center;
}
.EmploymentDurationList
{
    justify-self: center;
    text-align: center;
    list-style: none;
}
.EmploymentDuration
{
    justify-self: center;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 1.25rem;
    font-family: Calibri, sans-serif;
}
.ProgrammingList
{
    justify-self: left;
    text-align: left;
    list-style: disc;
}
.Language
{
    justify-self: left;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 1.33rem;
    font-family: Calibri, sans-serif;
    text-indent: -0.5em;
}
.ExternalLink:link
{
    text-decoration: underline;
    color: black;
}
.ExternalLink:visited
{
    text-decoration: underline;
    color: black;
}
.ResumeLink
{
    margin-bottom: 2rem;
}
.ResumeButton
{
    justify-self: center;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    color: black;
    font-weight: normal;
    font-size: 1rem;
    font-family: Calibri, sans-serif;
    transition-duration: 0.2s;
}
.ResumeButton:hover
{
    transform: scale(1.25);
    background-color: grey;
}

/*styling for the home page*/
body.HomeBody
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: black;
}
.HomeImageDiv
{
    background-image: url("Images/Hunter HS Grad Pic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 100vh;
    width: 32.29vw;
    flex-shrink: 0;
}
.HomeContentDiv
{
    height: 100vh;
    flex: 1;
    padding: 0;
    overflow-y: auto;
    justify-items: center;
    align-content: center;
}
.HomeHeader
{
    color: palegreen;
    font-size: 4vw;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    justify-self: center;
    transition-duration: 1s;
}
.HomeHeader:hover
{
    color: greenyellow;
    transform: scale(1.3);
}
.HomeContentHeader
{
    color: #fefefe;
    font-size: 2.5vw;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    justify-self: center;
    text-align: center;
}
.HomeContentLink
{
    align-self: center;
    justify-self: center;
    text-align: center;
}
.HomeContentButton
{
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 1.25rem;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    transition-duration: 0.2s;
}
.HomeContentButton:hover
{
    background-color: lightgray;
    transform: scale(1.2);
}
.HomeContentFooter
{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}
.HomeFooterImage
{
    width: 6.51vw;
    height: 13.7vh;
    border-radius: 60%;
    margin-left: 1.63vw;
}
.HomeFooterImage:hover
{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.HomeFooterImage_logo
{
    width: 6.51vw;
    height: 13.7vh;
    border-radius: 60%;
    filter: brightness(300%);
    margin-left: 1.63vw;
}
.HomeFooterImage_logo:hover
{
    filter: brightness(500%);
    transform: scale(1.2);
    transition-duration: 0.5s;
}

/*style of the projects page*/
.PageHeader
{
    width: 100%;
    text-align: center;
}
.FilterHeader
{
    color: black;
    font-size: 2.5rem;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    justify-self: center;
    width: 100%;
    text-align: center;
}
.FilterSegments
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.FilterSubmit
{
    justify-self: center;
    align-self: center;
}
.SpaceSegment
{
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
}
.ProjectTypeSegments
{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: start;
}
.ProjectLanguageSegments
{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: end;
}
.ProjectFilter
{
    display: flex;
    flex-direction: row;
    justify-self: center;
}
.FilterLabel
{
    color: black;
    font-size: 1.42rem;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    margin-top: -0.25rem;
}
.Filter
{
    width: 1.5em;
    height: 1.5em;
    transition-duration: 0.2s;
}
.Filter:hover
{
    transform: scale(1.25);
}
.FilterSubmitButton
{
    color: black;
    background-color: lightgray;
    transition-duration: 0.2s;
    font-size: 1.08rem;
}
.FilterSubmitButton:hover
{
    background-color: grey;
    transform: scale(1.25);
}
.ContentSegments
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProjectHeader
{
    color: black;
    font-size: 2.5rem;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    align-self: center;
}
.ProjectDescription
{
    color: black;
    font-size: 2vw;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    text-indent: 3rem;
    text-align: center;
}
.ProjectLink:link
{
    color: grey;
    font-size: 1.17rem;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    text-decoration-line: none;
    align-self: center;
}
.ProjectLink:visited
{
    color: black;
    font-size: 1.25rem;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration-line: none;
    align-self: center;
}

/*portrait screen overrides*/
@Media (orientation: portrait)
{
    /*navbar overrides*/
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 12vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3.75vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 1vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }

    /*home page overrides*/
    .HomeContentHeader
    {
        color: #fefefe;
        font-size: 2.5vw;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        justify-self: center;
        text-align: center;
    }
    .HomeFooterImage
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        margin-left: 1.63vw;
    }
    .HomeFooterImage_logo
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        filter: brightness(300%);
        margin-left: 1.63vw;
    }

    /*about page override*/
    h2.SegmentHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 3vw;
        font-family: Calibri, sans-serif;
        margin-bottom: -2vw;
        text-align: center;
    }
    .SegmentInformation
    {
        justify-self: center;
        text-align: center;
        margin-left: 5vh;
        margin-right: 5vh;
        color: black;
        font-weight: normal;
        font-size: 2.2vw;
        font-family: Calibri, sans-serif;
    }
    ol.SegmentInformation
    {
        padding-left: 7vw;
        list-style: square;
        justify-self: center;
        justify-items: center;
        text-align: center;
    }

    /*project page overrides*/
    .ProjectDescription
    {
        color: black;
        font-size: 2vw;
        font-family: Calibri, sans-serif;
        font-weight: normal;
        align-self: center;
        margin-left: 25%;
        margin-right: 25%;
        text-indent: 3rem;
        text-align: center;
    }

    /*footer override*/
    footer.footer
    {
        position: static;
        width: 100%;
        height: 12vh;
        align-items: center;
        display: flex;
        outline: none;
        justify-items: center;
    }
    a.footerHomeLink
    {
        margin-left: 2vw;
        text-decoration-line: none;
        color: white;
        font-size: 2vw;
    }
    a.footerHomeLink:link,
    a.footerHomeLink:visited
    {
        text-decoration-line: none;
        color: white;
    }
    img.footerImage
    {
        width: 6vw;
        height: 6vw;
        margin-left: 2vw;
        text-decoration-line: none;
    }
    #footerCopyright
    {
        color: white;
        margin-left: 2vw;
        font-size: 2vw;
    }
}

/*ipad landscape screen overrides*/
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape)
{
    /*navbar overrides*/
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 12vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3.75vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 1vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }

    /*home page overrides*/
    .HomeContentHeader
    {
        color: #fefefe;
        font-size: 2.5vw;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        justify-self: center;
        text-align: center;
    }
    .HomeFooterImage
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        margin-left: 1.63vw;
    }
    .HomeFooterImage_logo
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        filter: brightness(300%);
        margin-left: 1.63vw;
    }

    /*about page override*/
    h2.SegmentHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 3vw;
        font-family: Calibri, sans-serif;
        margin-bottom: -2vw;
        text-align: center;
    }
    .SegmentInformation
    {
        justify-self: center;
        text-align: center;
        margin-left: 12vh;
        margin-right: 12vh;
        color: black;
        font-weight: normal;
        font-size: 2.2vw;
        font-family: Calibri, sans-serif;
    }
    ol.SegmentInformation
    {
        padding-left: 7vw;
        list-style: square;
        justify-self: center;
        justify-items: center;
        text-align: center;
    }

    /*project page overrides*/
    .PageHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 5vw;
        font-family: Calibri, sans-serif;
        margin-top: 5vw;
    }
    .ProjectDescription
    {
        color: black;
        font-size: 2vw;
        font-family: Calibri, sans-serif;
        font-weight: normal;
        align-self: center;
        margin-left: 25%;
        margin-right: 25%;
        text-indent: 3rem;
        text-align: center;
    }

    /*footer override*/
    footer.footer
    {
        position: static;
        width: 100%;
        height: 12vh;
        align-items: center;
        display: flex;
        outline: none;
        justify-items: center;
    }
    a.footerHomeLink
    {
        margin-left: 2vw;
        text-decoration-line: none;
        color: white;
        font-size: 1.2vw;
    }
    a.footerHomeLink:link,
    a.footerHomeLink:visited
    {
        text-decoration-line: none;
        color: white;
    }
    img.footerImage
    {
        width: 6vw;
        height: 6vw;
        margin-left: 2vw;
        text-decoration-line: none;
    }
    #footerCopyright
    {
        color: white;
        margin-left: 2vw;
        font-size: 1.2vw;
    }
}

/*smaller than ipad landscape screen overrides (1px smaller than ipad mini on both dimensions)*/
@media (max-width: 1023px) and (orientation: landscape)
{
    /*navbar overrides*/
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 18vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 0.75vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }

    /*home page overrides*/
    .HomeContentHeader
    {
        color: #fefefe;
        font-size: 2.5vw;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        justify-self: center;
        text-align: center;
    }
    .HomeFooterImage
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        margin-left: 1.63vw;
    }
    .HomeFooterImage_logo
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        filter: brightness(300%);
        margin-left: 1.63vw;
    }

    /*about page override*/
    h2.SegmentHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 3vw;
        font-family: Calibri, sans-serif;
        margin-bottom: -2vw;
        text-align: center;
    }
    .SegmentInformation
    {
        justify-self: center;
        text-align: center;
        margin-left: 12vh;
        margin-right: 12vh;
        color: black;
        font-weight: normal;
        font-size: 2.2vw;
        font-family: Calibri, sans-serif;
    }
    ol.SegmentInformation
    {
        padding-left: 7vw;
        list-style: square;
        justify-self: center;
        justify-items: center;
        text-align: center;
    }

    /*project page overrides*/
    .PageHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 5vw;
        font-family: Calibri, sans-serif;
        padding-top: 5vw;
    }
    .ProjectDescription
    {
        color: black;
        font-size: 2vw;
        font-family: Calibri, sans-serif;
        font-weight: normal;
        align-self: center;
        margin-left: 25%;
        margin-right: 25%;
        text-indent: 3rem;
        text-align: center;
    }

    /*footer override*/
    footer.footer
    {
        position: static;
        width: 100%;
        height: 18vh;
        align-items: center;
        display: flex;
        outline: none;
        justify-items: center;
    }
    a.footerHomeLink
    {
        margin-left: 2vw;
        text-decoration-line: none;
        color: white;
        font-size: 1.5vw;
    }
    a.footerHomeLink:link,
    a.footerHomeLink:visited
    {
        text-decoration-line: none;
        color: white;
    }
    img.footerImage
    {
        width: 5vw;
        height: 5vw;
        margin-left: 2vw;
        text-decoration-line: none;
    }
    #footerCopyright
    {
        color: white;
        margin-left: 2vw;
        font-size: 1.5vw;
    }
}

/*smaller than ipad portrait screen overrides (1px smaller than ipad mini on both dimensions)*/
@media (max-height: 1023px) and (orientation: portrait)
{
    /*navbar overrides*/
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 8vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3vh;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 0.75vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }

    .AboutMain
    {
        margin-top: -3.5vh;
        background-color: #fefefe;
        background-image: url('Images/backgroundTexture.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    /*home page overrides*/
    .HomeContentHeader
    {
        color: #fefefe;
        font-size: 2.5vw;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        justify-self: center;
        text-align: center;
    }
    .HomeContentButton
    {
        justify-self: center;
        color: black;
        font-size: 1.25vh;
        font-family: Calibri, sans-serif;
        font-weight: normal;
        transition-duration: 0.2s;
    }
    .HomeContentLink
    {
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .HomeContentButton:hover
    {
        background-color: lightgray;
        transform: scale(1.0);
    }
    .HomeContentFooter
    {
        margin-top: 5vh;
    }
    .HomeFooterImage
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        margin-left: 1.63vw;
    }
    .HomeFooterImage_logo
    {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 60%;
        filter: brightness(300%);
        margin-left: 1.63vw;
    }

    /*about page override*/
    h2.SegmentHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 3vh;
        font-family: Calibri, sans-serif;
        margin-top: 2vh;
        text-align: center;
    }
    .SegmentInformation
    {
        justify-self: center;
        text-align: center;
        margin-left: 6vh;
        margin-right: 6vh;
        color: black;
        font-weight: normal;
        font-size: 1.7vh;
        font-family: Calibri, sans-serif;
    }
    ol.SegmentInformation
    {
        padding-left: 7vh;
        list-style: square;
        justify-self: center;
        justify-items: center;
        text-align: center;
    }
    .Language
    {
        font-size: 1.5vh;
    }

    /*project page overrides*/
    .PageHeader
    {
        justify-self: center;
        color: black;
        font-weight: bold;
        font-size: 5vh;
        font-family: Calibri, sans-serif;
        padding-top: 5vw;
    }
    .ProjectHeader
    {
        color: black;
        font-size: 3vh;
        margin-left: 4vh;
        margin-right: 4vh;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        align-self: center;
        text-align: center;
    }
    .ProjectDescription
    {
        color: black;
        font-size: 2vh;
        font-family: Calibri, sans-serif;
        font-weight: normal;
        align-self: center;
        margin-left: 3vh;
        margin-right: 3vh;
        text-indent: 3rem;
        text-align: center;
    }

    /*footer override*/
    footer.footer
    {
        position: static;
        width: 100%;
        height: 9vh;
        align-content: center;
        display: flex;
        outline: none;
        justify-items: center;
    }
    a.footerHomeLink
    {
        margin-left: 2vw;
        text-decoration-line: none;
        color: white;
        font-size: 1vh;
    }
    a.footerHomeLink:link,
    a.footerHomeLink:visited
    {
        text-decoration-line: none;
        color: white;
    }
    img.footerImage
    {
        width: 5vh;
        height: 5vh;
        margin-left: 2vw;
        text-decoration-line: none;
    }
    #footerCopyright
    {
        color: white;
        margin-left: 2vw;
        font-size: 1vh;
    }
}
