html
{
    scroll-behavior: smooth;
}
html, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar base styles */
nav.navbar
{
    background: linear-gradient(90deg, black, darkgreen);
    width: 100%;
    min-height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
    z-index: 20;
}
a.navbarHeader
{
    font-family: "Times New Roman", serif;
    font-size: 3vw;
    color: green;
    margin-left: 1.63vw;
    margin-right: 1.63vw;
    text-decoration: none;
    display: flex;
}

#ChannelLogo
{
    width: 7.16vw;
    height: 15.07vh;
    border-radius: 60%;
    filter: brightness(300%);
}
#ChannelLogo:hover
{
    transform: scale(1.1);
    filter: brightness(500%);
    transition: 1s;
}
#ChannelName
{
    margin-left: 2.28vw;
    padding-top: 4.79vh;
}
#ChannelName:hover
{
    transform: scale(1.1);
    transition: 1s;
}
button.navbarButton
{
    font-family: "Times New Roman", serif;
    font-size: 1.5625rem;
    background-color: darkgray;
    color: green;
    margin-left: 0.33vw;
    margin-bottom: -1.37vh;
    padding: 1.37vh 0.52vw;
}
button.navbarButton:hover
{
    background-color: grey;
    color: #004009;
    transition-duration: 0.2s;
}
.navbarButtons
{
    gap: 1.63vw;
    margin-right: 1.63vw;
}
.dropdown
{
    position: relative;
    justify-self: right;
    display: inline-block;
}

/* portrait overrides (navbar only) */
@media (orientation: portrait)
{
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 12vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3.75vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 1vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }
}

/* iPad landscape navbar overrides */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape)
{
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 12vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3.75vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 1vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }
}

/* smaller than iPad landscape navbar overrides */
@media (max-width: 1023px) and (orientation: landscape)
{
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 18vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 0.75vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }
}

/* smaller than iPad portrait navbar overrides */
@media (max-height: 1023px) and (orientation: portrait)
{
    nav.navbar
    {
        position: sticky;
        width: 100%;
        height: 8vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        outline: none;
        z-index: 20;
    }
    a.navbarHeader
    {
        font-family: "Times New Roman", serif;
        font-size: 3vh;
        margin-left: 1vw;
        margin-right: 0.5vw;
        text-decoration-line: none;
        display: flex;
    }
    #ChannelLogo
    {
        width: 8vw;
        height: 8vh;
        border-radius: 60%;
        filter: brightness(300%);
    }
    #ChannelLogo:hover
    {
        transform: scale(1.0);
        filter: brightness(500%);
        transition: 1s;
    }
    #ChannelName
    {
        margin-left: 2vw;
        padding-top: 0.75vh;
    }
    #ChannelName:hover
    {
        transform: scale(1.0);
        transition: 1s;
    }
    button.navbarButton
    {
        font-family: "Times New Roman", serif;
        font-size: 3vw;
        margin-left: 0.33vw;
        margin-bottom: -1.37vh;
        padding-top: 1.37vh;
        padding-bottom: 1.37vh;
        padding-right: 0.52vw;
        padding-left: 0.52vw;
    }
    .navbarButtons
    {
        gap: 1.63vw;
        margin-right: 1.63vw;
    }
    .dropdown
    {
        position: relative;
        justify-self: right;
        display: inline-block;
    }
}